#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.icon-react {
    margin-left: 25px;
    margin-right: 10px;
}

.navbar-nav>.nav-item {
    color: #60dafb !important;
}

.btn-auth:hover {
    background: #60dafb !important;
    color: #1f232a !important;
    font-weight: bold;
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1f232a;
    color: #ffffff;
    padding: .5rem;
}

.image-product {
    width: 100%;
    height: 130px;
}

.title-product {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.price-product {
    margin-top: -10px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1f232a;
    /* Cambia el color de fondo según tus preferencias */
    padding: 1rem;
    /* Añade el espacio de relleno deseado */
    z-index: 100;
    /* Puedes ajustar el valor de z-index según sea necesario */
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}